In [3]:
import yfinance

yfinance.Ticker("bbas3.sa").history(period="365d", interval="1d")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-04-11 00:00:00-03:00,26.335768,26.596836,26.262486,26.445692,12447600,0.0,0.0
2024-04-12 00:00:00-03:00,26.445689,26.496069,26.024315,26.102179,11304400,0.0,0.0
2024-04-15 00:00:00-03:00,26.225843,26.262484,25.744929,25.859432,14411400,0.0,0.0
2024-04-16 00:00:00-03:00,25.859433,26.015158,25.227376,25.566305,22923700,0.0,2.0
2024-04-17 00:00:00-03:00,25.648747,25.804471,25.447222,25.621265,17703800,0.0,0.0
...,...,...,...,...,...,...,...
2025-09-17 00:00:00-03:00,21.959999,22.200001,21.670000,21.870001,39196600,0.0,0.0
2025-09-18 00:00:00-03:00,22.049999,22.590000,22.030001,22.100000,35973700,0.0,0.0
2025-09-19 00:00:00-03:00,22.100000,22.200001,21.620001,21.620001,49988600,0.0,0.0
2025-09-22 00:00:00-03:00,21.600000,21.860001,21.350000,21.510000,29380400,0.0,0.0
2025-09-23 00:00:00-03:00,21.639999,22.150000,21.520000,22.129999,84194700,0.0,0.0